
@font-face {
    font-family: Barlow;
    src:url(font/barlow.otf);
}

* {
    font-family: Barlow, "sans-serif", generic;;
}

*:focus {
    outline: 0;
}

body {
    background-color:black;
    color:white;
}

::placeholder {
    color: white;
}

#container {
    position: absolute;
    left: 400px;
}

textarea {
    border: 1px solid black;
    color:white;
    width: 600px;
    height: 400px;
    padding: 12px 12px;
    font-size: 16px;
    background-color:rgba(155, 155, 155,0.2);
}

#textback {
    border: 1px solid black;
    color:white;
    width: 600px;
    height: 400px;
    padding: 0;
    background-color: black;
}

#result{
  text-align: center;
  line-height: 2rem;
  position: relative;
  left: 100px;
}

#container {
    text-align: center;
    max-width: 400px;
    margin: 2rem auto;
}

#original {
    background-color:black;
    padding: 6px 0px 6px 100px;
    border: none;
}

#prediction {
    background-color: black;
    padding: 6px 100px 6px 0px;
    border: none;
    color:cyan;
}

.gen {
    display: inline;
}


#status{
  font-size: 10px;
  position: relative;
  top: -5px;
  left: 200px;
  float: right;
}

#particles-js{
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: -1;
}


